.grettings {
  width: 100%;
  padding: 0;
}

.grettings-block {
  position: relative;
  border-radius: 30px;
  width: 100%;
  max-width: 1700px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  min-height: 726px;
  color: $colorWhite;
  padding: 81px 0;

  .caption {
    color: $colorWhite;
  }

  .picture {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: -1;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }

  .check-block {
    margin-top: 14px;

    input {
      &:checked {
        & + label {
          &::before {
            background-color: $colorBlue;
          }
        }
      }
    }

    label {
      &::before {
        outline: 2px solid $colorBlue;
        border:solid 5px #000;
        background-color: transparent;
      }
      &:after {
        display: none;
      }
    }
  }
}

.grettings-block__desc {
  font-family: $fontIntro;
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0em;
  padding: 15px 20px;
  background-color: $colorBlue;
  text-transform: uppercase;
  color: $colorWhite;
  border-radius: 40px;
  display: inline-block;
}

.grettings-block__title {
  position: relative;
  width: 100%;
  max-width: 752px;
  margin-top: 29px;
}

.caption {
}

.grettings-block__txt {
  font-family: $fontCircle;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  width: 258px;
  display: block;
  position: absolute;
  right: 25px;
  bottom: 10px;

  @include before {
    left: 0;
    top: calc(100% + 10px);
    background-image: url("../img/svg/grettings-arrow.svg");
    width: 260px;
    height: 14px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.grettings-form {
  margin-top: 77px;
}

.grettings-form__text {
  font-family: $fontCircle;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
}

.grettings-form__form {
  position: relative;
  width: 100%;
  max-width: 736px;
  margin-top: 24px;

  input {
    width: 100%;
    height: 55px;
    border-radius: 40px;
    padding-left: 57px;
    padding-right: 250px;
    color: rgba(137, 137, 137, 1);
  }

  .btn {
    position: absolute;
    height: 55px;
    right: 0;
    top: 0;
    width: 100%;
    max-width: 242px;
    border-radius: 40px;
    line-height: 30px;
  }
}

.grettings-form__input {
  position: relative;
}

.grettings-form__icon {
  position: absolute;
  left: 25px;
  top: 50%;
  transform: translateY(-50%);
  width: 19px;
  height: 19px;
  display: flex;
  align-items: center;
  justify-content: center;
}

section {
  padding: 80px 0;
}

.problems-section {
  position: relative;
}

.section-title {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 17px;
  color: $colorSite;

  .caption {
    max-width: calc(100% - 85px);
  }

  .company {
    display: block;
    text-transform: uppercase;
    font-weight: 800;
  }

  .swiper-controls {
    margin-left: auto;
  }
}

.section-title__desc {
  font-size: 30px;
  line-height: 30px;
  color: $colorBlue;
}

.section-title__text {
  display: block;
  width: 100%;
  max-width: 95%;
  order: 3;
}

.problem-tabs {
  padding: 42px 0;
  position: relative;
  width: 100%;

  &__list {
    width: 100%;
    height: 563px;

    ul {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      align-content: space-between;
      height: 100%;
      gap: 81px;
    }

    li {
      width: 361px;
    }

    a {
      cursor: pointer;
      background-color: rgba(203, 209, 219, 1);
      font-family: $fontIntro;
      font-size: 18px;
      font-weight: 400;
      line-height: 18px;
      letter-spacing: 0em;
      border-radius: 80px;
      width: 100%;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      gap: 15px;
      padding: 10px 30px;
      transition: all 0.3s;
      text-transform: uppercase;

      svg {
        path {
          transition: all 0.3s;
        }
      }

      &:hover,
      &.active {
        color: #fff;
        background-color: $colorSite;

        svg {
          path {
            fill: #fff;
          }
        }
      }
    }
  }
}

.problem-content {
  width: 600px;
  height: 563px;
  position: absolute;
  left: 50%;
  top: 42px;
  transform: translateX(-50%);
  background-color: rgba(245, 246, 248, 1);
  border-radius: 40px;
  overflow: hidden;
}

.problem-item {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;

  .picture {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__media {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s;
  }

  &__text {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0em;
    background-color: rgba(245, 246, 248, 1);
    padding: 21px 30px;
  }

  &#tab1 {
    .problem-item__media {
      opacity: 1;
      pointer-events: initial;
    }
  }

  &.active {
    .problem-item__media {
      opacity: 1;
      pointer-events: initial;
    }

    .problem-item__text {
      opacity: 1;
      pointer-events: initial;
    }
  }
}

.slider-problem-content {
}

.mobile-controls {
  display: none;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
  width: 100%;

  .swiper-controls {
  }

  .swiper-pagination.swiper-pagination-bullets {
    margin-top: 0;
  }
}

.products-section {
  background-color: $colorGray-light;
  overflow: hidden;
  width: 100%;
  position: relative;

  .slider-wrapper {
    margin-top: 71px;
    width: 100%;
  }

  .slider-products {
    overflow: visible;
  }

  .swiper-wrapper {
  }

  .swiper-slide {
  }
}

.product-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  color: $colorSite;
  background-color: $colorWhite;
  border-radius: 40px;
  box-shadow: 0px 10px 22px 0px rgba(0, 0, 0, 0.05);
  padding: 0;
  overflow: hidden;

  .picture {
    @include invisLink;
    padding-top: calc(409 / 453 * 100%);

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

.product-item__info {
  margin-top: 13px;
  padding: 0 37px 0 37px;
}

.product-item__name {
  font-family: $fontIntro;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-transform: uppercase;
  @include text-decoration-hover($colorSite);
}

.product-item__text {
  display: block;
  margin-top: 4px;
}

.product-item__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 24px 24px 37px;
}

.product-item__price {
  font-family: $fontIntro;
  color: $colorSite;

  .price {
    font-size: 35px;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
  }

  .cur {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
  }
}

.product-item__controls {
  .btn-add-basket {
  }
}

.product-item__colors {
  position: absolute;
  right: 25px;
  top: 25px;
  z-index: 3;

  ul {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  li {
    width: 33px;
    height: 33px;
    border: solid 2px rgba(203, 209, 219, 1);
    border-radius: 50px;
  }
}

.section-title__icon {
  width: 77px;
  height: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $colorGray-light;
  border-radius: 50%;
  position: absolute;
  right: 0;
  bottom: 0;

  svg {
    width: 40px;
    height: 43px;
  }
}

.technologies-section {
  overflow: hidden;
}

.slider-technologies {
  margin-top: 45px;
  overflow: visible;
  max-width: 938px;
  width: 100%;
  cursor: grab;

  .swiper-slide {
    cursor: pointer;
    transition: transform 1s, opacity 0.5s, filter 0.5s;
    z-index: 2;
    transform: scale(0.55);
    filter: grayscale(100%);
    opacity: 0.4;

    .technolog-item__circle {
      opacity: 0;
    }

    &.swiper-slide-visible {
      cursor: grab;
      z-index: 3;
      transform: scale(1);
      opacity: 1;
      filter: grayscale(0%);

      .technolog-item__circle {
        opacity: 1;
      }
    }
  }
}

.technolog-item {
  background-color: rgba(233, 235, 239, 1);
  border-radius: 40px;
  width: 100%;
  height: 704px;

  .picture {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border-radius: 40px;
    overflow: hidden;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__list {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  &__item {
    position: absolute;
    display: flex;
    align-items: center;
  }

  &__circle {
    background-color: rgba(21, 39, 67, 1);
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    margin-right: -8px;

    @include before {
      width: 42px;
      height: 42px;
      background-color: rgba(21, 39, 67, 1);
      display: block;
      border-radius: 50%;
      opacity: 0.5;
      transform: translate(calc(-50% + 7px), calc(-50% + 8px));
      z-index: -1;
    }
  }

  &__text {
    font-family: $fontIntro;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: center;
    width: 359px;
    min-height: 172px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.9);
    border: solid 1px $colorDefault;
    border-radius: 30px;
    padding: 25px;
    text-transform: uppercase;
    transform: scale(0);
    opacity: 0;
    transition: transform 1.5s;
    flex: 1;

    span {
      display: block;
      text-align: right;
    }
  }
}

.slider-technologies {
  .swiper-slide-visible {
    #technolog-1,
    #technolog-2 {
      .technolog-item__item {
        &:nth-child(1) {
          .technolog-item__text {
            transform-origin: right center;
            transform: scale(1);
            opacity: 1;
          }
        }
        &:nth-child(2) {
          .technolog-item__text {
            transform-origin: left center;
            transform: scale(1);
            opacity: 1;
          }
        }
        &:nth-child(3) {
          .technolog-item__text {
            transform-origin: left center;
            transform: scale(1);
            opacity: 1;
          }
        }
      }
    }

    #technolog-3,
    #technolog-4 {
      .technolog-item__item {
        &:nth-child(1) {
          .technolog-item__text {
            transform-origin: right center;
            transform: scale(1);
            opacity: 1;
          }
        }
        &:nth-child(2) {
          .technolog-item__text {
            transform-origin: left center;
            transform: scale(1);
            opacity: 1;
          }
        }
      }
    }
  }
}

#technolog-1 {
  .technolog-item__item {
    &:nth-child(1) {
      bottom: 210px;
      left: -220px;
      flex-direction: row-reverse;

      .technolog-item__circle {
        margin-left: -8px;
      }
    }
    &:nth-child(2) {
      top: 100px;
      right: -70px;
    }
  }
}

#technolog-2 {
  .technolog-item__item {
    &:nth-child(1) {
      bottom: 210px;
      left: -220px;
      flex-direction: row-reverse;

      .technolog-item__circle {
        margin-left: -8px;
      }
    }
    &:nth-child(2) {
      top: 100px;
      right: -70px;
    }
    &:nth-child(3) {
      bottom: 90px;
      right: -220px;
    }
  }
}

#technolog-3 {
  .technolog-item__item {
    &:nth-child(1) {
      top: 60px;
      left: -220px;
      flex-direction: row-reverse;

      .technolog-item__circle {
        margin-left: -8px;
      }
    }
    &:nth-child(2) {
      bottom: 90px;
      right: -220px;
    }
  }
}

#technolog-4 {
  .technolog-item__item {
    &:nth-child(1) {
      bottom: 210px;
      left: -220px;
      flex-direction: row-reverse;

      .technolog-item__circle {
        margin-left: -8px;
      }
    }
    &:nth-child(2) {
      top: 100px;
      right: -70px;
      width: 469px;
    }
  }
}

.reports-section {
  width: 100%;
  overflow: hidden;
}

.reports-slider {
  margin-top: 55px;
  width: 100%;
  overflow: visible;

  .swiper-wrapper {
  }

  .swiper-slide {
    opacity: 0.4;
    pointer-events: none;
    transition: opacity 0.3s;

    &.swiper-slide-visible {
      opacity: 1;
      pointer-events: initial;
    }
  }
}

.report-item {
  padding: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 40px;
  box-shadow: 0px 10px 40px 0px rgba(0, 0, 0, 0.1);
}

.report-item__media {
  width: 50%;
  position: relative;

  .picture {
    width: 214px;
    height: 303px;
    margin: 0 auto;
    @include invisLink;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.report-item__content {
  width: 50%;
  max-width: 270px;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  color: $colorSite;
  position: relative;
  padding-left: 30px;
  min-height: 230px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  @include before {
    left: 0;
    top: 0;
    background-color: rgba(203, 209, 219, 1);
    width: 1px;
    height: 100%;
  }

  .caption {
    text-align: center;

    & + .caption {
      margin-top: 20px;
    }

    & + .btn-download {
      margin-top: auto;
      margin-left: auto;
      margin-right: auto;
      display: inline-flex;
      flex-direction: column-reverse;
      padding: 0;
      align-items: center;
      gap: 7px;
      padding: 0;

      &::before {
        position: relative;
        top: auto;
        right: auto;
        transform: translate(0);
      }
    }
  }

  ul {
    margin-top: 19px;

    li {
      padding-left: 10px;
      position: relative;

      & + li {
        margin-top: 19px;
      }

      @include before {
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        width: 5px;
        height: 5px;
        border-radius: 50%;
        border-radius: 50%;
        background-color: $colorBlue;
      }
    }
  }

  strong {
    font-weight: bold;
  }

  .caption {
  }

  .btn-download {
    display: inline-block;
    margin-top: 40px;
  }
}

.slider-wrapper {
  position: relative;

  @include before {
    right: -90px;
    top: 0;
    width: 227px;
    height: 100%;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    z-index: 3;
    pointer-events: none;
  }

  @include after {
    left: -90px;
    top: 0;
    width: 227px;
    height: 100%;
    transform: scale(-1, 1);
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    z-index: 3;
    pointer-events: none;
  }
}

.advantages-slider {
  width: 100%;

  .swiper-slide {
    opacity: 0 !important;

    &.swiper-slide-visible {
      opacity: 1 !important;

      .advantages-item__content {
        transform: scale(1);
      }

      .advantages-item__list li {
        transform: scale(1);
        opacity: 1;
      }
    }
  }
}

.advantages-item {
  &__content {
    background-color: $colorGray-light;
    border-radius: 40px;
    padding: 57px 48px 89px 48px;
    min-height: 294px;
    transition: transform 1s;
    transform: scale(0);

    p {
      margin-top: 19px;
    }
  }
}

.advantages-item__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
  margin-top: 42px;

  li {
    height: 288px;
    position: relative;
    border-radius: 40px;
    border: solid 1px rgba(21, 39, 67, 1);
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    transition: all 1.5s;
    transform-origin: center center;
    transform: scale(0);
    opacity: 0;

    & + li {
      transition: all 1.5s 0.5s;
    }
  }

  .icon {
    background-color: $colorBlue;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  span:not(.icon) {
    max-width: 50%;
    min-height: 48px;
  }
}

.advantages-section__inner {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 572px;
  align-items: flex-start;
  gap: 26px;
}

.advantages-section__media {
  grid-row: 1/3;
  grid-column: 2/3;
  border-radius: 40px;
  overflow: hidden;
  height: 783px;
  position: relative;

  .picture {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.advantages-slider__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: absolute;
  bottom: 350px;
  left: 0;
  width: 100%;
  z-index: 3;
  padding: 0 18px 0 48px;

  .swiper-pagination {
    margin-top: 0 !important;
  }
}

.reviews-section__controls {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;

  .btn {
    margin: 30px auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 55px;
    padding-right: 71px;
    padding-left: 55px;

    svg {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.reviews-section {
  width: 100%;
  overflow: hidden;
}

.review-slider {
  margin-top: 45px;
  overflow: visible;
  position: relative;

  .swiper-wrapper {
  }

  .swiper-slide {
    opacity: 0.2;
    transition: opacity 0.3s;
    pointer-events: none;

    &.swiper-slide-visible {
      opacity: 1;
      pointer-events: initial;
    }
  }

  .swiper-pagination {
  }
}

.review-item {
  background-color: $colorWhite;
  color: $colorSite;
  transition: all 0.3s;
  border-radius: 40px;
  box-shadow: 0px 8px 18px 0px rgba(0, 0, 0, 0.11);
  padding: 18px;
  font-size: 16px;
  line-height: 25px;

  &:hover {
    background-color: $colorSite;
    color: $colorWhite;

    .review-item__text {
      background-color: $colorWhite;
    }
  }
}

.review-item__head {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-top: 15px;
}

.review-item__time {
  display: flex;
  flex-direction: column;
}
.review-item__date {
}

.review-item__age {
}

.review-item__rating {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 25px;
  color: $colorSite;
  background-color: $colorGray-light;
}

.review-item__body {
  margin-top: 13px;
}

.review-item__name {
  text-align: right;
  display: block;
}

.review-item__text {
  background-color: $colorGray-light;
  color: $colorDefault;
  border-radius: 30px;
  padding: 25px;
  margin-top: 24px;
}

.faq-section {
  background-color: $colorGray-light;
}

.faq-list {
  margin-top: 32px;
}

.faq-item {
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  background-color: $colorWhite;
  border-radius: 40px;
  border: solid 1px $colorWhite;
  padding: 18px 14px 18px 38px;

  & + .faq-item {
    margin-top: 24px;
  }

  &.opened {
    border-color: rgba(203, 209, 219, 1);

    .quest {
      &::before {
        transform: translateY(-50%) scale(1, -1);
        opacity: 0.1;
      }
    }
  }

  .quest {
    display: block;
    cursor: pointer;
    font-family: $fontIntro;
    font-size: 16px;
    line-height: 25px;
    letter-spacing: 0em;
    position: relative;
    text-transform: uppercase;
    color: $colorSite;
    z-index: 3;
    padding-right: 60px;

    @include before {
      background-image: url("../img/svg/icon-faq.svg");
      background-position: calc(50% + 1px) center;
      background-repeat: no-repeat;
      width: 32px;
      height: 32px;
      right: 14px;
      top: 50%;
      transform: translateY(-50%);
      background-color: $colorSite;
      border-radius: 50%;
    }

    &:hover {
      &::before {
        opacity: 1;
      }
    }
  }

  .answer {
    display: none;
    padding-top: 20px;
  }
}

.contacts-section {
  max-width: 1700px;
  margin: 0 auto;
  padding: 0;

  .contacts {
    margin-top: -80px;
  }
}

.map {
  width: 100%;
  height: 500px;
  border-radius: 40px;

  iframe {
    width: 100%;
    height: 100%;
    border-radius: 40px;
  }
}

.contacts {
  max-width: 1700px;
  margin: 0 auto;
  width: 100%;
  background-color: $colorSite;
  border-radius: 40px;
  position: relative;
  z-index: 3;
  color: $colorWhite;
  padding: 80px 0;

  .caption {
    color: $colorWhite;
  }
}

.contacts-left {
  width: 65%;
  padding-right: 20px;
}

.contacts__info {
  margin-top: 44px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;

  p {
    max-width: 311px;
  }

  a {
    @include text-decoration-hover($colorWhite);
  }
}

.contacts__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  opacity: 0.48;
  display: block;
  margin-bottom: 17px;
}

.contacts-right {
  text-align: right;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 35%;
  position: relative;

  @include before {
    left: 100px;
    top: 0;
    width: 1px;
    height: 100%;
    background-color: $colorWhite;
  }
}

.contacts-right__title {
  font-family: $fontIntro;
  font-size: 20px;
  line-height: 22px;
  letter-spacing: 0em;
  opacity: 0.3;
  margin-bottom: 61px;
}

.contacts-right__link {
  font-family: $fontIntro;
  font-size: 30px;
  line-height: 32px;
  letter-spacing: 0em;
  @include text-decoration-hover($colorWhite);
}

.contacts-right__btn {
  padding: 11px 50px;
  margin-top: 24px;
}

.contacts__inner {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.not-page {
  width: 100%;
  max-width: 1700px;
  margin: 0 auto;
  background-image: url("../img/bg-404.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 40px;
  padding: 0;
  margin-top: 30px;

  .link-back {
    margin-top: 42px;
  }
}

.not-page__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  min-height: 739px;
  font-size: 20px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: center;
  color: $colorWhite;
  padding: 40px 0;
}

.not-page__name {
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0em;
  margin-bottom: 30px;
  display: block;
}

.not-page__media {
  width: 100%;
  max-width: 615px;
  margin-bottom: 10px;
}

.link-back {
  display: flex;
  align-items: center;
  gap: 11px;
  text-decoration: underline;
  text-underline-offset: 3px;
  transition: text-decoration 0.3s;

  &:hover {
    text-decoration-color: transparent;
  }

  &__icon {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $colorBlue;
  }
}

.main > .contacts {
  margin-top: 60px;
}

.inner-page {
  background-color: $colorGray-light;
  width: 100%;
  padding: 40px 0;
  overflow: hidden;

  &--basket {
    overflow: visible;
  }
}

.breadcrumbs {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  color: rgba(167, 171, 180, 1);
  padding: 0;

  span,
  a,
  &__link {
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    color: rgba(167, 171, 180, 1);
  }

  a,
  &__link {
    @include text-decoration-hover(rgba(167, 171, 180, 1));
  }

  & + * {
    margin-top: 40px;
  }
}

.breadcrumbs__list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 20px;
}

.breadcrumbs__item {
  position: relative;
  color: rgba(167, 171, 180, 1);

  &:last-child {
    &::before {
      display: none;
    }
  }

  @include before {
    content: "/";
    left: calc(100% + 5px);
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
  }
}

.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: $colorWhite;
  border-radius: 40px;
  padding: 30px 40px;
}

.card-media {
  width: 434px;
  position: relative;
  overflow: hidden;
}

.slider-card-big {
  .picture {
    width: 100%;
    height: 391px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include invisLink;

    img {
      height: 100%;
      object-fit: contain;
    }
  }
}

.slider-card-small {
  position: relative;
  width: 285px;
  margin: 22px auto 0;
  overflow: visible;

  .swiper {
  }

  .swiper-wrapper {
  }

  .swiper-slide {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-self: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;

    &.swiper-slide-visible {
      opacity: 1;
      pointer-events: initial;
    }
  }

  .picture {
    width: 73px;
    height: 65px;
    margin: auto;
  }

  .swiper-button-prev {
    position: absolute;
    left: -35px;
    right: auto;
    top: 50%;
    transform: translateY(-50%);
    bottom: 0;
    background-image: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: transparent;
    }
  }

  .swiper-button-next {
    position: absolute;
    right: -35px;
    top: 50%;
    transform: translateY(-50%);
    left: auto;
    bottom: 0;
    background-image: none;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      background: transparent;
    }
  }
}

.card-info {
  width: calc(100% - 434px - 58px);
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;

  .btn {
    width: 100%;
    margin-top: 30px;
    padding: 10px 70px;
  }
}

.card-info__head {
  display: grid;
  grid-template-columns: 65% 1fr;
  gap: 9px;

  .caption {
  }
}

.card-info__summ {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 5px;
  color: $colorSite;
  grid-column: 2/3;
  grid-row: 1 / 3;
}

.card-info__price {
  font-family: $fontIntro;
  font-size: 35px;
  line-height: 35px;
  letter-spacing: 0em;
}

.card-info__cur {
  font-family: $fontIntro;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0em;
}

.card-info__list {
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: space-between;
  gap: 40px;
  height: 335px;
  margin-top: 30px;
  color: $colorSite;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 256px;
    max-width: 326px;
    width: 100%;
  }

  span {
    width: 70%;
    color: rgba(133, 136, 142, 1);
  }

  p {
    width: 25%;
    font-weight: 500;
  }
}

.card-description {
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0em;
  margin-top: 75px;
}

.foto-section {
  width: 100%;
}

.slider-foto {
  margin-top: 35px;
  overflow: visible;

  .swiper-slide {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;

    &.swiper-slide-visible {
      opacity: 1;
      pointer-events: initial;
    }
  }

  .picture {
    border-radius: 40px;
    @include invisLink;
    overflow: hidden;
    position: relative;
    padding-top: calc(507 / 691 * 100%);

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.reports-slider-two {
  margin-top: 35px;
  widows: 100%;
  overflow: visible;
}

.documents {
  .reports-slider-two {
    .swiper-slide {
      opacity: 0;
      pointer-events: none;
      transition: opacity 0.3s;

      &.swiper-slide-visible {
        opacity: 1;
        pointer-events: initial;
      }
    }
  }

  .report-item {
    background-color: $colorWhite;
    height: 100%;
    align-items: initial;
  }

  .report-item__media {
    width: calc(100% - 172px - 35px);

    .picture {
      width: 392px;
      height: 557px;
    }
  }

  .report-item__content {
    max-width: 172px;
    text-align: left;
    justify-content: space-between;
    padding: 30px 0;

    .caption {
      text-align: left;
    }

    &::before {
      display: none;
    }
  }
}

.documents + .foto-section {
  padding-top: 50px;
}

.basket-section {
  padding: 0;
}

.basket {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 51px;

  .btn-delete {
  }

  .check-block input:checked + label::before {
    box-shadow: none;
  }
}

.basket-content {
  width: calc(100% - 420px - 33px);
  background-color: $colorWhite;
  border-radius: 40px;
}

.basket-list {
  padding: 28px 18px;
}

.basket-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $colorSite;

  & + .basket-item {
    margin-top: 45px;
  }

  .product-item__price {
    width: 190px;
    text-align: center;

    .price {
      font-size: 25px;
    }
    .cur {
      font-size: 16px;
      line-height: 16px;
    }
  }

  .picture {
    height: 203px;
    width: 225px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include invisLink;

    img {
    }
  }
}

.basket-item__info {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  margin-left: -5px;
  width: 260px;
}

.basket-item__name {
  font-family: $fontIntro;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0em;
  text-transform: uppercase;
  margin-bottom: 6px;
  @include text-decoration-hover($colorSite);
}

.basket-colors {
  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  margin-top: 34px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
}

.basket-colors__title {
}

.count-block {
  display: flex;
  align-items: center;
  width: 130px;
}

.count-block__controls {
  cursor: pointer;
  border: solid 1px rgba(182, 186, 195, 1);
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(182, 186, 195, 1);
  font-size: 25px;
  transition: all 0.3s;

  &:hover {
    background-color: $colorBlue;
    border-color: $colorBlue;
    color: $colorWhite;
  }
}

.count-block__minus {
}

.count-block__count {
  font-family: $fontIntro;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0em;
  width: 60px;
  text-align: center;
}

.count-block__plus {
}

.basket-result {
  width: 420px;
  padding: 54px 37px;
  border: solid 1px rgba(182, 186, 195, 1);
  border-radius: 40px;
  color: $colorSite;
  position: sticky;
  top: 100px;
  right: 0;

  .caption {
    width: 100%;
    text-align: center;
    display: block;

    & + * {
      margin-top: 30px;
    }

    & + .basket-result__count {
      margin-top: 14px;
    }
  }

  .product-item__price {
    .price {
      font-size: 25px;
      line-height: 25px;
    }
    .cur {
      font-size: 16px;
    }
  }
}

.basket-result__result {
  font-family: $fontIntro;
  font-size: 25px;
  line-height: 25px;
  letter-spacing: 0em;
  color: $colorSite;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  text-transform: uppercase;
  margin-top: 69px;

  .cur {
    text-transform: none;
  }
}

.basket-result__controls {
  margin-top: 27px;
  display: flex;
  flex-direction: column;
  gap: 7px;

  .btn {
    width: 100%;
    padding: 10px 15px;
    & + .btn {
    }
  }
}

.basket-result__list {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;

  li {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & + li {
      margin-top: 34px;
    }
  }
}

.basket-result__list--delivery {
  border-top: solid 1px rgba(182, 186, 195, 1);
  padding-top: 34px;
  margin-top: 34px;
}

.basket-result__desc {
  font-size: 14px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  color: rgba(142, 149, 164, 1);
  display: block;
  text-align: center;
  margin-top: 13px;
}

.basket-result__count {
  font-size: 20px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: center;
  color: $colorSite;
  display: block;
  margin-bottom: 34px;
}

.order-list {
  padding: 59px 31px;
}

.order-item {
  color: $colorSite;

  & + .order-item {
    margin-top: 50px;
  }
}

.order-item__caption {
  font-family: $fontIntro;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
  display: block;
  margin-bottom: 22px;
}

.check-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 56px;

  .check-block {
    input {
      &:checked {
        & + label {
          &::before {
            border-color: $colorSite;
          }
        }
      }
    }

    label {
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
      letter-spacing: 0em;
      color: $colorSite;
      padding-left: 30px;

      &::before {
        border-color: rgba(182, 186, 195, 1);
        width: 23px;
        height: 23px;
      }

      &::after {
        background-color: $colorSite;
        width: 11px;
        height: 11px;
        left: 6px;
      }
    }
  }
}

.form-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 21px;

  .input-item {
    &.textarea-item {
      grid-column: 1/4;
    }
  }

  input {
    background-color: $colorGray-light;
    border-radius: 30px;
    height: 50px;
    width: 100%;
  }

  textarea {
    background-color: $colorGray-light;
    border-radius: 30px;
    width: 100%;
    height: 93px;
    padding: 15px 26px;
  }
}

.order-item__title {
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0em;
  padding-left: 28px;
  display: block;
  margin-top: 21px;

  & + * {
    margin-top: 11px;
  }
}

.order-item__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0em;
  color: rgba(133, 136, 142, 1);
  margin-top: 15px;
}

.result-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 41px;
  background-color: $colorWhite;
  border-radius: 40px;
  color: $colorSite;

  .caption {
    text-align: center;
  }

  .btn {
    padding: 12px 70px;
  }
}

.result-section__status {
  font-size: 20px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 0em;
  width: 100%;
  max-width: 1268px;
  margin: 0 auto;

  li {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 19px 52px;
    width: 100%;
    background-color: $colorGray-light;
    border-radius: 60px;
  }
}

.result-section__info {
  font-size: 20px;
  font-weight: 500;
  line-height: 50px;
  letter-spacing: 0em;
  width: 100%;
  max-width: 1268px;
  margin: 0 auto;
  padding-left: 52px;
  padding-right: 52px;

  .tit {
    color: #85888e;
    font-weight: 400;
  }
}

.modal {
  .modal__container {
    width: 100%;
    max-width: 420px;
  }

  &--full {
    .modal__container {
      width: 100%;
      max-width: 757px;
    }

    .popup-section {
      .input-list {
        max-width: 667px;
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

.popup-section {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  padding: 15px 18px;
  color: rgba(142, 149, 164, 1);

  .caption {
    color: $colorWhite;
    background-color: $colorBlue;
    border-radius: 40px;
    padding: 14px 23px;
    text-align: left;

    & + * {
      margin-top: 14px;
    }
  }

  a:not(.btn) {
    text-decoration: underline;
    transition: text-decoration 0.3s;

    &:hover {
      text-decoration-color: transparent;
    }
  }

  .input-list {
    margin-top: 18px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 9px;
    width: 100%;
    max-width: 330px;
    margin: 18px auto 0;
  }

  .input-item {
    input {
      background-color: $colorGray-light;
      width: 100%;
      height: 55px;
      padding: 0 26px;
    }

    textarea {
      background-color: $colorGray-light;
      width: 100%;
      height: 77px;
      padding: 18px 26px;
    }
  }

  .input-textarea {
    grid-column: 1/3;
  }

  .btn {
    margin: 9px auto 0;
    padding: 12px 20px;
    width: 100%;
    max-width: 330px;
  }
}

.popup-section__desc {
  margin-top: 9px;
}

.popup-section__result {
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: center;
  display: flex;
  flex-direction: column;
  color: $colorSite;
  min-height: 323px;
  justify-content: center;
  gap: 5px;
  padding-bottom: 50px;

  .text {
    font-family: $fontIntro;
    font-size: 16px;
    line-height: 22px;
    text-transform: uppercase;
  }

  span {
    max-width: 235px;
    margin: 0 auto;
  }
}

.popup-section__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 667px;
  width: 100%;
  margin: 21px auto 0;

  .btn {
    width: 282px;
    margin: 0;
  }

  .popup-section__desc {
    margin-top: 0;
    width: calc(100% - 282px - 12px);
    text-align: left;
    line-height: 18px;
  }
}

.social__link svg {
  position: relative;
  left: -1px;
}
