@media (max-width: 639px) {
  .header .social {
    display: none;
  }

  .header-info {
    display: none;
  }

  .header-basket {
    margin-left: auto;
  }

  .header-inner {
    gap: 15px;
    padding-right: 0;
  }

  .header .logo {
    width: 110px;
    height: 20px;
  }

  .menu {
    .social {
      display: flex;
      padding: 15px 20px 0;
    }

    .header-info {
      display: flex;
      padding: 15px 20px;
      flex-direction: column;
      align-items: flex-start;

      &__phone {
        text-align: left;
        display: inline-block;
        width: auto;
      }
    }
  }

  .main {
    padding-top: 54px;
  }

  .footer {
    .header-info {
      display: block;
    }
  }

  .footer-adress {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 0;
  }

  .footer-bottom {
    font-size: 12px;
  }

  h1,
  .caption--h1 {
    font-size: 30px;
    line-height: 35px;
  }

  h2,
  .caption--h2 {
    font-size: 30px;
    line-height: 35px;
  }

  .section-title__desc {
    font-size: 18px;
    line-height: 20px;
    margin-top: -5px;
  }

  .section-title {
    gap: 5px;
  }

  .grettings-block__desc {
    font-size: 14px;
    line-height: 18px;
    padding: 5px 10px;
  }

  .grettings-block__txt {
    font-size: 12px;
    line-height: 14px;
    width: 120px;
    bottom: 2px;
  }

  .grettings-block__title {
    max-width: 325px;
  }

  .grettings-form__text {
    font-size: 14px;
    line-height: 16px;
    max-width: 100%;
  }
  .grettings-form__form {
    max-width: 400px;
  }

  .grettings-form__form input {
    padding-right: 180px;
  }

  .grettings-form__form {
    margin-top: 8px;
  }

  .technolog-item {
    height: auto;
    padding-top: calc(320 / 320 * 100%);
  }

  #technolog-1 .technolog-item__item:nth-child(1) {
    left: -20px;
  }

  #technolog-1 .technolog-item__item:nth-child(2) {
    top: 40px;
    right: -30px;
  }

  #technolog-2 .technolog-item__item:nth-child(3) {
    bottom: 20px;
    right: -20px;
  }

  #technolog-3 .technolog-item__item:nth-child(2) {
    right: -30px;
  }

  #technolog-3 .technolog-item__item:nth-child(1) {
    left: -30px;
  }

  #technolog-4 .technolog-item__item:nth-child(1) {
    bottom: 40px;
    left: -30px;
  }

  .section-title__text {
    font-size: 12px;
    line-height: 16px;
  }

  .section-title__icon {
    width: 55px;
    height: 55px;

    svg {
      height: 30px;
      width: 30px;
    }
  }

  .slider-technologies {
    margin-top: 50px;
  }

  .advantages-item__content {
    background-color: rgb(245, 246, 248);
    border-radius: 40px;
    padding: 27px 18px 60px 18px;
    min-height: 230px;
  }

  .advantages-item__list span:not(.icon) {
    max-width: 90%;
  }

  .advantages-item__list {
    margin-top: 20px;
  }

  .advantages-item__list li {
    font-size: 14px;
    line-height: 18px;
    gap: 15px;
    height: 200px;
  }

  .advantages-item__list .icon {
    width: 80px;
    height: 80px;

    svg {
      width: 50px;
      height: 50px;
    }
  }

  .advantages-slider__controls {
    bottom: 240px;
    padding-left: 19px;
  }

  .advantages-item__content p {
    margin-top: 10px;
  }

  .advantages-item {
    font-size: 12px;
    line-height: 18px;
  }

  .review-item__text {
    padding: 15px;
  }

  .review-item {
    font-size: 14px;
    line-height: 20px;
  }

  .contacts__inner {
    flex-wrap: wrap;
  }

  .contacts-left,
  .contacts-right {
    width: 100%;
  }
  .contacts-right::before {
    display: none;
  }

  .contacts-right__link {
    font-size: 20px;
    line-height: 24px;
  }

  .contacts-right__btn {
    margin-top: 20px;
  }

  .contacts-right__title {
    margin-bottom: 20px;
  }

  .contacts-right {
    align-items: center;
    margin-top: 30px;
  }

  .contacts .caption {
    display: block;
    text-align: center;
  }

  .not-page__media {
    max-width: 250px;
  }

  .not-page__inner {
    min-height: 420px;
    font-size: 14px;
    line-height: 20px;
  }

  .not-page__name {
    font-size: 30px;
    line-height: 48px;
    margin-bottom: 10px;
  }

  .basket-item .product-item__price {
    order: 6;
    width: 100%;
    text-align: left;
    margin-top: 15px;
  }

  .check-list {
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
  }

  .check-list .check-block label {
    font-size: 14px;
  }

  .form-list {
    grid-template-columns: 1fr;
  }

  .form-list .input-item.textarea-item {
    grid-column: initial;
  }

  .order-list {
    padding: 30px 20px;
  }

  .order-item__text {
    font-size: 14px;
    line-height: 20px;
  }

  .result-section {
    gap: 15px;
  }

  .result-section__status {
    font-size: 14px;

    li {
      flex-direction: column;
      align-items: center;
      padding: 10px;
      line-height: 20px;
      gap: 15px;
    }
  }

  .result-section__info {
    font-size: 14px;
    line-height: 20px;
    padding: 0 15px;
    text-align: center;
    gap: 5px;
    display: flex;
    flex-direction: column;
  }

  .popup-section .caption {
    text-align: center;
  }

  .modal__close {
    right: 20px;
    top: -30px;
  }

  .popup-section__result {
    min-height: 250px;
    padding-bottom: 30px;
  }

  .popup-section__controls {
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    gap: 10px;
    margin-top: 15px;

    .btn {
      width: 100%;
      max-width: 100%;
    }

    .popup-section__desc {
      width: 100%;
      text-align: center;
    }
  }

  .grettings-block .picture--product {
    top: 50%;
    width: 100%;
    height: 50%;
    transform: translateY(-48%);
  }
}
