@media (max-width: 479px) {
  .grettings-form__form .btn {
    position: relative;
    right: auto;
    top: auto;
    width: 100%;
    max-width: 100%;
    margin-top: 10px;
  }

  .grettings-form__icon {
    position: absolute;
    left: 15px;
    top: 13px;
    transform: translateY(0%);
  }

  .grettings-form__form input {
    padding-right: 20px;
  }

  .grettings-block__txt {
    right: -14px;
    width: 120px;
  }

  .technolog-item__circle {
    width: 8px;
    height: 8px;

    &::before {
      width: 21px;
      height: 21px;
      transform: translate(calc(-50% + 4px), calc(-50% + 4px));
    }
  }

  .technolog-item__text {
    font-size: 11px;
    line-height: 12px;
    min-height: 80px;
    width: 150px;
    padding: 10px 20px;
    border-radius: 10px;
  }

  #technolog-1 .technolog-item__item:nth-child(1) {
    left: -20px;
    bottom: -30px;
  }

  #technolog-1 .technolog-item__item:nth-child(2) {
    top: -30px;
    right: -20px;
  }

  #technolog-2 .technolog-item__item:nth-child(1) {
    bottom: 40px;
    left: -20px;
  }

  #technolog-2 .technolog-item__item:nth-child(2) {
    top: -20px;
    right: -20px;
  }

  #technolog-2 .technolog-item__item:nth-child(3) {
    bottom: -30px;
    right: -20px;
    width: 134px;
  }

  #technolog-3 .technolog-item__item:nth-child(2) {
    right: -20px;
    bottom: -20px;
  }

  #technolog-3 .technolog-item__item:nth-child(1) {
    left: -20px;
    top: -20px;
  }

  #technolog-4 .technolog-item__item:nth-child(1) {
    bottom: -20px;
    left: -20px;
  }

  #technolog-4 .technolog-item__item:nth-child(2) {
    top: -20px;
    right: -20px;
    width: 229px;
  }

  .report-item {
    flex-wrap: wrap;
  }

  .report-item__media {
    width: 100%;
  }

  .report-item__content {
    max-width: 100%;
    width: 100%;
    padding: 20px 0;
    min-height: inherit;
    gap: 20px;

    &::before {
      display: none;
    }
  }

  .reports-section {
    .caption {
      width: 100%;
    }

    .swiper-controls {
      order: 4;
      margin-top: 20px;
    }
  }

  .advantages-item__list {
    grid-template-columns: 1fr;
  }

  .advantages-slider__controls {
    bottom: 410px;
  }

  .advantages-item__list li {
    height: 180px;
  }

  .advantages-item__list span:not(.icon) {
    min-height: initial;
  }

  .faq-item {
    border-radius: 20px;
  }
}
