@media (max-width: 1023px) {
  .footer-adress {
    font-size: 14px;
  }

  .footer-social {
    gap: 20px;
    font-size: 14px;
  }

  .footer-adress {
    gap: 20px;
  }

  .footer-adress__title,
  .footer-social__text {
    font-size: 14px;
    line-height: 18px;
  }

  .footer-bottom {
    padding: 10px 0;
    font-size: 14px;

    a {
      font-size: 14px;
    }
  }

  .footer__developer {
    font-size: 14px;
  }

  h1,
  .caption--h1 {
    font-size: 40px;
    line-height: 45px;
  }

  h2,
  .caption--h2 {
    font-size: 40px;
    line-height: 44px;
  }

  .section-title {
    font-size: 14px;
    line-height: 18px;
  }

  .section-title__desc {
    font-size: 20px;
    line-height: 21px;
  }

  .grettings-block__title {
    margin-top: 10px;
    max-width: 405px;
  }

  .grettings-block__txt {
    font-size: 16px;
    line-height: 18px;
    bottom: 5px;
    width: 140px;

    &::before {
      width: 100%;
    }
  }

  .grettings-block__desc {
    font-size: 18px;
    line-height: 20px;
  }

  .grettings-form__text {
    max-width: 420px;
    width: 100%;
    display: block;
  }

  .grettings-form__form {
    max-width: 460px;
  }

  .grettings-form__form .btn {
    max-width: 170px;
  }

  .btn {
    font-size: 14px;
  }

  .grettings-form__form {
    input {
      height: 45px;
    }

    .btn {
      height: 45px;
    }
  }

  .grettings-form {
    margin-top: 280px;
  }

  .grettings-block .picture--product {
    top: 110px;
    width: 60%;
    height: 80%;
  }

  .grettings-block {
    padding: 30px 0;
    min-height: inherit;
  }
  .problem-content {
    position: relative;
    width: 100%;
    height: auto;
    background-color: transparent;
    border-radius: 0;
    overflow: visible;
    left: 0;
    top: 0;
    transform: translateX(0%);
  }

  .slider-problem-content {
    margin-top: 18px;
  }

  .problem-item {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column-reverse;
    background-color: transparent;

    .picture {
      position: relative;
    }

    &__media {
      opacity: 1;
      pointer-events: initial;
      margin-top: 20px;
      border-radius: 40px;
      overflow: hidden;
    }

    &__text {
      opacity: 1;
      pointer-events: initial;
      background-color: transparent;
      padding: 0;
    }
  }

  .problems-section .section-title__text {
    display: none;
  }

  .problem-tabs__list {
    position: relative;
    left: -10px;
    width: calc(100% + 20px);
    padding: 0 10px;
    height: auto;

    ul {
      display: flex;
      gap: initial;
      height: initial;
      flex-direction: initial;
      justify-content: initial;
      flex-wrap: nowrap;
    }

    li {
      &.swiper-slide-thumb-active {
        a {
          svg {
            background-color: $colorSite;

            path {
              fill: $colorWhite;
            }
          }
        }
      }
    }

    a {
      gap: 10px;
      font-size: 12px;
      line-height: 18px;
      font-weight: 600;
      background-color: transparent;
      padding: 0;

      &:hover {
        background-color: transparent;
        color: rgba(21, 39, 67, 1);

        svg {
          path {
            fill: rgba(21, 39, 67, 1);
          }
        }
      }

      svg {
        background-color: $colorGray;
        border-radius: 50%;
        width: 41px;
        height: 41px;
        min-width: 41px;
        padding: 8px;
      }
    }
  }

  .mobile-controls {
    display: flex;
  }

  .swiper-controls {
    width: 74px;
    height: 32px;

    .swiper-button-prev,
    .swiper-button-next {
      width: 18px;
      height: 18px;
    }
  }

  .product-item__name {
    font-size: 20px;
    line-height: 22px;
  }

  .product-item__info {
    padding: 0px 17px 0 17px;
  }

  .product-item__bottom {
    padding: 10px 10px 20px 17px;
  }

  .products-section .slider-products-wrapepr {
    margin-top: 30px;
  }

  section {
    padding: 30px 0;
  }

  .problem-tabs {
    padding: 30px 0 0;
  }

  .product-item__price .price {
    font-size: 25px;
    line-height: 28px;
  }

  .product-item__price .cur {
    font-size: 14px;
    line-height: 14px;
  }

  .product-item__colors {
    right: 15px;
    top: 15px;

    li {
      width: 22px;
      height: 22px;
    }
  }

  .swiper-pagination.swiper-pagination-bullets {
    margin-top: 30px;
  }

  .slider-technologies {
    max-width: 575px;
  }

  .technolog-item__text {
    font-size: 14px;
    line-height: 16px;
    min-height: 100px;
    width: 230px;
  }

  #technolog-4 .technolog-item__item:nth-child(2) {
    top: 50px;
    right: -70px;
    width: 319px;
  }

  .technolog-item {
    height: 500px;
  }

  .section-title__text {
    max-width: 85%;
  }

  .report-item__content {
    max-width: 350px;
  }

  .report-item__content ul li + li {
    margin-top: 15px;
  }

  .report-item__content .btn-download {
    margin-top: 30px;
  }

  .advantages-section__inner {
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .advantages-section__media {
    grid-row: 3 / 3;
    grid-column: initial;
    height: initial;
  }

  .advantages-section__media {
    .picture {
      height: auto;
      position: relative;

      img {
        position: relative;
        height: auto;
        width: auto;
      }
    }
  }

  .contacts-left {
    width: 50%;
  }

  .contacts-right {
    width: 50%;

    &::before {
      left: 100px;
    }

    .contacts-right__link {
      margin-top: auto;
    }
  }

  .contacts__info {
    gap: 20px;
    margin-top: 30px;
  }

  .contacts__inner {
    align-items: initial;
  }

  .contacts-right__link {
    font-size: 24px;
    line-height: 26px;
  }

  .contacts-right__btn {
    padding: 8px 38px;
    margin-top: 20px;
  }

  .contacts {
    padding: 40px 0;
  }

  .not-page__media {
    max-width: 450px;
  }

  .not-page__inner {
    min-height: 620px;
  }

  .card-info {
    width: calc(100% - 305px - 50px);
  }

  .card-media {
    width: 305px;
  }

  .slider-card-big .picture {
    height: 280px;
  }

  .slider-card-small .swiper-button-prev {
    left: -25px;
  }

  .slider-card-small .swiper-button-next {
    right: -25px;
  }

  .card-info__list li + li {
    margin-top: 15px;
  }

  .documents .report-item__media {
    width: calc(100% - 142px - 15px);
  }

  .documents .report-item__content {
    width: 142px;
  }

  .documents + .foto-section {
    padding-top: 30px;
  }

  .basket-content {
    width: 100%;
  }

  .basket-result {
    position: relative;
    margin-top: 20px;
    top: 0;
    width: 100%;
  }

  .inner-page--basket {
    overflow: hidden;
  }

  .breadcrumbs + * {
    margin-top: 30px;
  }

  .inner-page {
    padding: 30px 0;
  }

  .main > .contacts {
    margin-top: 30px;
  }
}
