@media (max-width: 1199px) {
  .container {
    padding: 0 10px;
  }

  .burger {
    display: flex;
    z-index: 6;
  }

  .header {
    .logo {
      width: 120px;
      height: 25px;
    }
  }

  .header-inner {
    padding: 10px 10px 10px 0;
    gap: 10px;
    justify-content: space-between;
  }

  .menu {
    padding: 0;
    flex: initial;
    position: fixed;
    top: 0;
    left: -110%;
    width: 320px;
    height: 100vh;
    background-color: $colorWhite;
    padding: 25px 0;
    z-index: 5;
    box-shadow: 0px 0px 38px 9px rgba(0, 0, 0, 0.11);
    transition: left 0.3s;
    overflow: auto;

    &.opened {
      left: 0;
    }

    &__list {
      flex-direction: column;
      align-items: flex-start;
      padding: 0 20px;
      gap: 20px;
    }
  }

  .social {
    &__link {
      width: 34px;
      height: 34px;

      svg {
        width: 18px;
        height: 18px;
      }
    }
  }

  .header-basket {
    &__icon {
      width: 34px;
      height: 34px;

      svg {
        width: 18px;
        height: 18px;
      }
    }
  }

  .header-info {
    &__phone {
      font-size: 22px;
      line-height: 24px;
    }

    &__call {
      gap: 5px;
    }

    &__text {
      font-size: 14px;
      line-height: 16px;
      padding: 2px 5px;
    }

    &__mail {
      font-size: 16px;
      line-height: 20px;
    }
  }

  .main {
    padding-top: 69px;
  }

  .problem-content {
    width: 390px;
    height: 360px;
    border-radius: 20px;
  }

  .problem-tabs__list li {
    width: 290px;
  }

  .problem-tabs__list {
    height: 360px;
  }

  .problem-tabs__list a {
    font-size: 14px;
    line-height: 16px;
    height: 65px;
  }

  .problem-item__text {
    padding: 10px 20px;
    font-size: 12px;
    line-height: 16px;
  }

  .problem-tabs {
    padding: 30px 0;
  }

  .swiper-pagination.swiper-pagination-bullets {
    margin-top: 50px;
  }

  .technolog-item__text {
    font-size: 16px;
    line-height: 20px;
    min-height: 150px;
    width: 250px;
  }

  .technolog-item {
    height: 560px;
  }

  #technolog-1 .technolog-item__item:nth-child(1) {
    bottom: 50px;
    left: -80px;
  }

  #technolog-2 .technolog-item__item:nth-child(1) {
    bottom: 100px;
    left: -80px;
  }

  #technolog-2 .technolog-item__item:nth-child(2) {
    top: 50px;
    right: -80px;
  }

  #technolog-2 .technolog-item__item:nth-child(3) {
    bottom: 40px;
    right: -50px;
  }

  #technolog-3 .technolog-item__item:nth-child(2) {
    right: -90px;
  }

  #technolog-3 .technolog-item__item:nth-child(1) {
    left: -90px;
  }

  #technolog-4 .technolog-item__item:nth-child(1) {
    bottom: 90px;
    left: -80px;
  }

  #technolog-4 .technolog-item__item:nth-child(2) {
    top: 100px;
    right: -90px;
    width: 399px;
  }

  .slider-technologies {
    transform: scale(1);
    margin-top: 30px;
    margin-bottom: 0;
    max-width: 805px;
  }

  .report-item__content {
    padding-left: 20px;
  }

  .report-item {
    padding: 20px;
  }

  .reports-slider {
    margin-top: 30px;
  }

  .advantages-section__inner {
    grid-template-columns: 1fr 1fr;
  }

  .advantages-item__list {
    padding: 2px;
    gap: 15px;
    margin-top: 30px;
  }

  .review-slider {
    margin-top: 30px;
  }

  .faq-item {
    padding-left: 18px;
    font-size: 14px;
    line-height: 20px;
  }

  .faq-item + .faq-item {
    margin-top: 15px;
  }

  .map {
    height: 400px;
  }

  .contacts-left {
    width: 70%;
  }

  .contacts-right {
    width: 30%;

    &::before {
      left: 25px;
    }
  }

  .contacts__info {
    font-size: 14px;
    line-height: 20px;
  }

  .btn-consul {
    right: 95px;
    bottom: -30px;
  }

  .not-page {
    margin: 0 auto;
  }

  .card-info__list {
    align-items: flex-start;
    align-content: flex-start;
    display: block;
    height: auto;
    font-size: 14px;

    li {
      width: 100%;
      max-width: 100%;

      & + li {
        margin-top: 20px;
      }
    }
  }

  .card-info__head {
    grid-template-columns: 1fr;
    gap: 3px;
  }

  .card-info__summ {
    grid-column: 1/2;
    grid-row: 3/3;
    justify-content: flex-start;
    align-items: flex-end;
    padding-top: 20px;
  }

  .card-description {
    margin-top: 50px;
  }

  .card {
    padding: 30px 20px;
  }

  .basket-list {
    padding: 20px 15px;
  }

  .basket {
    margin-top: 30px;
  }

  .basket-item {
    flex-wrap: wrap;

    &__info {
      width: 100%;
      order: 5;
    }
  }

  .basket-colors {
    margin-top: 15px;
  }
}
